.calendario{
  width: 100%;
  height: auto;
  border-radius: 10px;
  outline: none;
}





.calendario .data{
  width: 100%;
  border-bottom: 1px solid rgb(223, 223, 223);
  display: flex;
}

.calendario .data p{
  width: 100%;
  cursor: pointer;
  padding: 5px 0;
  font-weight: bolder;
  font-size: 13px;

}

.months_{
  display: flex !important;
  align-items: center;
  justify-self: center;
}

.calendario .data .today{
  color: royalblue;
  background-color: transparent !important;
}

.month{
  display: flex;
  flex-direction: column;
  gap: 3px 0;
}

.month .week{
  display: flex;
  gap: 0 3px;
}


.calendario .controler_{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.controler_ h1 {
  font-size: 35px;
  letter-spacing: 3px;
  font-weight: 400;
}

.controler_ img{
  width: 50px;
  padding: 15px;
  user-select: none;
  cursor: pointer;
}

.controler_ img:first-child{
  transform: rotate(180deg);
}



.month .week .day{
  background-color: rgb(223, 223, 223);
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  border-radius: 5px;

}

.month .days .day{
  background-color: red;
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  font-size: 11px;
  padding-top: 5px;
  cursor: auto;

}

.outOfMonth{
  background-color: rgb(245, 245, 245) !important;
}

.today{
  background-color: rgba(65, 105, 225, 0.384) !important;

}

.outOfMonth .number{
  color: rgb(148, 148, 148) !important;
  font-weight: 400 !important;

}

.day .number{
  width: 100%;
  padding: 5px;
  height: 25px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 18px;
}

.day .rutinas{
  width: 100%;
  height: 100%;
  overflow: none;
}


@media (max-width: 550px) {
  .calendario .data p{
      font-size: 10px;
  }
}


.rutinas{
  overflow:hidden;
  position: relative;
}

.rt_{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.c_set{
  width: 100%;
  height: 25px;
  overflow: none;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  border-radius: 5px;
  padding-left: 3px;
  background-color: rgb(68, 68, 68);
  color: white;
}


.c_set img {
  width: 20px;
}

